.brief_statement {
    margin: 1.875rem 0;
    background-color: var(--tertiary-color);
    padding: 5px;
    border-radius: 0.625rem;
    border-bottom: none;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    -o-border-radius: 0.625rem;
}

.statement_title {
    font-size: 1.5rem;
    font-weight: 500;
}

.statement_content {
    text-align: start;
    margin: 0;
    padding-left: 3%;
}

@media screen and (min-width: 64rem) {
    .statement_content {
        max-width: 50rem
    }
    
}