.contact_page-heading {
    margin-bottom: 1.5rem;
    text-align: center;
    width: 100%;
}

.contact_page-title {
    margin: 0rem
}

.contact_page-statement {
    width: 70%;
}

.contact_page-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.contact_form_div {
    margin-bottom: 2.7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.5rem;
    border: 2px solid var(--primary-color-border);
    padding: 2rem 0rem;
    border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    -o-border-radius: 0.625rem;
}

.contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.7rem;
    width: 100%;
}

/* .form_groups {} */

.form-group_input {
    width: 100%;
    border-radius: 0.3125rem;
    -webkit-border-radius: 0.3125rem;
    -moz-border-radius: 0.3125rem;
    -ms-border-radius: 0.3125rem;
    -o-border-radius: 0.3125rem;
    border: none;
    background-color: var(--primary-color-border);
    padding: 0.625rem 0.3125rem;
    text-align: center;
    color: var(--text-color);
}

.input_message {
    min-height: 150px;
    max-width: 100%;
    resize: none;
    text-align: left;
}

.input_message::placeholder {
    text-align: center;
}

.sendButton {
    border: 2px solid var(--primary-color-border);
    border-radius: 0.5rem;
    padding: 0.35rem 0.7rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--text-color);
    width: max-content;
    text-align: center;
    transition: background-color 0.5s, color 0.5s;
    -webkit-transition: background-color 0.5s, color 0.5s;
    -moz-transition: background-color 0.5s, color 0.5s;
    -ms-transition: background-color 0.5s, color 0.5s;
    -o-transition: background-color 0.5s, color 0.5s;
}

/* 480px */
@media screen and (min-width: 480px) {
    .contact_form_div {
        width: 70%;
    }

    .connection {
        width: 70%;
    }
    
}

/* 768px */
@media screen and (min-width: 768px) {
    .contact_form_div {
        width: 50%;
    }
    
    .connection {
        width: 50%;
    }

}

/* 1024px */
@media screen and (min-width: 1024px) {

    .contact_page-heading{
        width: 30%;
        margin-bottom: 5rem;
    }

    .contact_page-body {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .contact_form_div {
        width: 30%;
        order: 1
    }

    .connection {
        width: 30%;
        padding: 0.7rem 0rem;
        row-gap: 1rem;

        & .connection_title {
            font-size: 2rem;
        }

        & .connection_content, .connection_title {
           margin: 0;
           line-height: 0.9;
        }

        & .connection_content {
            font-size: 1.125rem;
        }
        
        & .social_connection_link svg {
            width: 50px;
            height: auto;
        }
    }

}