.skills_page-heading {
    margin-bottom: 3rem;
    text-align: center;
}

.skills_page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.link_indicator {
    text-align: center;
    margin: 0.5rem auto;
    border-bottom: 2px solid var(--primary-color-border);
}

.skills_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--tertiary-color);
    width: 100%;
    height: auto;
    border-radius: 0.625rem;
}

@media (min-width: 420px) {
    .skills_container {
        width: 90%;
    }
}

@media (max-width: 640px) {
    .skills_container {
        grid-template-columns: repeat(2, 1fr);
    }
}