@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {

    /* Typography */
    --font-family: 'Inter', sans-serif;

    /* Colour */
    --primary-color: #3b60e4;
    --secondary-color: #FFFFFF;
    --tertiary-color: #F9F9FF;
    --text-color: #002FAD;
    --selection-color: rgba(0, 47, 173, 0.75);
    --logo-green: #0AE427;
    --modal-background: #3b60e437
    
}