.project_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  align-items: center;
  width: 100%;
  min-height: 500px;
  margin: 2rem;
  border: 0.125rem solid var(--primary-color-border);
  border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
}

.project_card:hover,
.project_card:active {
  box-shadow: 0.0625rem 0.0625rem 15px #002fad;
}

.project_card_image-container {
  width: 90%;
  padding: 1rem;
}

.project_card_image {
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
}

.project_card_content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.project_card_title,
.project_card_short_desc {
  margin-bottom: 0.5rem;
}

.project_card_title{
  border-bottom: 0.1875rem solid var(--primary-color);
  width:50%;
  text-align: center;
}

.project_card_short_desc {
  width: 90%;
  font-size: 0.9375rem;
  text-align: center;
}

.project_card_link {
  margin: 1rem;
  font-size: 0.9375rem;
  border: 0.0625rem solid var(--primary-color)
}

.project_card_link:hover {
 background-color: var(--primary-color);
 color: var(--secondary-color);
 font-size: 0.9375rem
}


@media screen and (min-width: 640px){
  .project_card{
    width: 100%;
    margin: 1rem;
    min-height: 550px;
  }
}

@media screen and (min-width: 1200px){
  .project_card{
    width: 30%;
    min-height: 750px;
  }
}