.project_card_display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (min-width: 40rem){
.project_card_display {
    flex-direction: row;
}
}